/* bottone aggiungi */
.aggiungiBtn{
    background-image: url("src/assets/aggiungi.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* style task completate */
.taskCompletate {
    list-style: none;
}

/* utilizzato quando compaiono i pulsanti fatto/sezione Aggiungi */
.riduci {
    margin-left: 250px;
}

/* utilizzato quando compaiono i pulsanti fatto/sezione Aggiungi */
.riduciBottone {
    margin-left: 180px;
}

/* utilizzato quando compaiono i pulsanti fatto/sezione Aggiungi */
.riduciAggiungi {
    margin-top: -248px;
}

/* utilizzato quando compaiono i pulsanti fatto/sezione Aggiungi */
.riduciRimuovi {
    margin-top: -248px;
}

/* bordo dei pulsanti */
.bordoIntero {
    height: 50px;
    width: 220px;
    max-width: 220px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

/* scheda aggiungi */
.aggiungiScd {
    background-color: #9B9A9A;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    height: 300px;
    width: 250px;
    margin-top: -2px;
    max-width: 250px;
    text-align: center;
}

/* bottone Aggiungi della scheda aggiungi */
.aggiungiBtn {
    color: white;
    background-color: #424C57;
    margin-right: 4px;
    margin-top: 10px;
}

/* input della sezione aggiungi */
.taskInp {
    margin-top: 40px;
    margin-right: 4px;
}

/* style dei bottoni rimuovi che compaiono di fianco alle task */
.rimuoviBtn {
    background-image: url("src/assets/rimuovi.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
}

/* style dei bottoni rimuovi che compaiono di fianco alle task(con z-index alto) */
.rimuoviBtnZindex {
    background-image: url("src/assets/rimuovi.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    margin-left: 1px;
    height: 20px;
    z-index: 999;
    position: relative;
}

/* style delle task */
.containerTFS li {
    list-style-type: none;
    width: 100%;
}
ol {
    padding-right: 20px;
}

.riduciTop{
    margin-top: -20px;
}

ul {
    padding: 0px 0px 0px 0px;
}

/* style delle task */
.listaTask {
    max-width: 100%;
    border-bottom: 3px solid #424c57;
    margin-bottom: 10px;
    pointer-events: auto;
    max-height: 100px;
    min-height: 100px;
    z-index: 999;
}

/* testo delle task */
.testoTask {
    text-align: center;
    max-width: 90%;
    overflow-y: auto;
    margin-right: 4%;
    padding-right: 10px;
    max-height: 45px;
    min-height: 45px;
    text-align: center;
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 4%;
}
p::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 5px;
    z-index: 999;
}

p::-webkit-scrollbar-thumb {
    background-color: #888;
    z-index: 999;
}

/* cambia i margini */
.riduciMargineSx {
    margin-left: -25px;
    margin-right: 5px;
}

/* cambia il colore del testo della task se è scaduta */
.scaduto {
    color: red;
}

/* cambia il colore del testo della task se non è scaduta */
.NotScaduto {
    color: white;
}

/* cambia il colore del testo della task in "COMPLETATI" se è stata conclusa in tempo */
.intempo {
    color: limegreen;
}

/* cambia il colore del testo della task se è in scadenza nel giorno odierno */
.inscadenza {
    color: yellow;
}

/* rimuove il pallino degli elenchi puntati */
.rmStyle {
    list-style-type: none;
}

/* style delle checkbox */
.checkbox {
    z-index: 999;
    position: relative;
    width: 20px;
    height: 20px;
}

/* style del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1b242e;
}

/* container di tutte le task e del loro stato */
.taskContainer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* container di ogni stato */
.containerStati {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    max-height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
}

/* container dello stato centrale(aggiunta dei bordi laterali) */
.containerStatiCentrale {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-left: 3px solid #424c57;
    border-right: 3px solid #424c57;
    max-height: 90%;
    color: white;
    max-width: 33.3%;
    display: flex;
    flex-direction: column;
}

/* contenitore di task for state */
.containerTFS {
    flex: 1;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 4%;
    border-top: 3px solid #424c57;
    max-width: 100%;
    white-space: pre-wrap;
}

/* style della scrollbar */
div::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 5px;
    z-index: 999;
}

/* style della scrollbar */
div::-webkit-scrollbar-thumb {
    background-color: #888;
    z-index: 999;
}

/* contenitore del testo "COMPLETATI" e del pulsante per la tendina */
.contenitore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: -5px;
}

/* modifica il margine sinistro */
.margineSx {
    margin-left: -8px;
}

/* style della sezione in cui si vedono le informazioni di ogni task */
.showTsk {
    border:3px solid #A1A1A1;
    color: white;
    background-color: #424C57;
    text-align: center;
    max-width: 500px;
    min-width: 500px;
    max-height: 250px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1001;
}

/* sezione sinistra della sezione in cui si vedono le informazioni di ogni task */
.sxShow {
    min-height: 100%;
    max-height: 100%;
    min-width: 49%;
    max-width: 49%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* sezione che contiene in bottoni nella sezione in cui si vedono le informazioni di ogni task */
.showButton{
    display: flex;
    justify-content: end;
    padding: 10px;
}

/* style della X della sezione in cui si vedono le informazioni di ogni task */
.esciShowTsk {
    flex: 1;
    background-image: url("src/assets/rimuovi.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    z-index: 1001;
}
.esciShowTsk:disabled {
    color: black;
    border-color: black;
  }

/* style del bottone modifica/salva della sezioni in cui si vedono le informazioni di ogni task */
.modifica{
    flex: 1;
    width: 90px;
    height: 30px;
    margin-right: 10px;
    z-index: 1001;
    background-color: #1B9DD9;
}
.modifica:disabled {
    color: black;
    border-color: black;
  }

/* sezione che contiene il testo della task nella sezione in cui si vedono le informazioni di ogni task */
.showTitle {
    word-wrap: break-word;
    word-break: break-all;
    max-height: 220px;
    min-height: 220px;
    padding-right: 10px;
    z-index:1001;
    overflow-y: hidden;
    font-weight: bold;
}

/* sezione destra della sezione in cui si vedono le informazioni di ogni task */
.dxShow {
    text-align: center;
    border-left: 3px solid #A1A1A1;
    min-height: 100%;
    max-height: 100%;
    min-width: 51%;
    max-width: 51%;
}

/* sezione in cui di vedono le date nella sezione in cui si vedono le informazioni di ogni task */
.dataShow{
    border-top: 3px solid #A1A1A1;
}

/* textarea quando si modifica il testo con il pulsante modifica */
.modificaTesto{
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
}
.inserisciTesto{
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
    color: white;
}
textarea::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 5px;
    z-index: 999;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #888;
    z-index: 999;
}

.spostainBtn{ 
    width: 90%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 999;
    background-color: #1B9DD9;
}
.form{
    border:3px solid magenta;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 1000;
    overflow: hidden;
}
.showRm {
    border:3px solid #A1A1A1;
    color: white;
    background-color: #1b242e;
    text-align: center;
    max-width: 300px;
    min-width: 300px;
    max-height: 180px;
    min-height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.allertRmText {
    word-wrap: break-word;
    max-height: 100px;
    min-height: 100px;
    padding-right: 10px;
    z-index:1001;
    overflow-y: hidden;
    font-weight: bold;
}

.allertRmRimuovi{
    margin-top: 3px;
    margin-right: 15px;
    width: 120px;
    height: 30px;
    z-index: 1001;
    background-color: #1B9DD9;
}

.allertRmAnnulla{
    margin-top: 3px;
    margin-left: 15px;
    width: 120px;
    height: 30px;
    z-index: 1001;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    pointer-events: auto;
  }

* {
    font-family: "Roboto", sans-serif;
}

.informazioni{
    height: 70%;
    width: 70%;
    border:3px solid #A1A1A1;
    color: white;
    background-color: #424C57;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1001;
    flex-direction: column;
    overflow: hidden;
}

.infoBtn{
    background-image: url("src/assets/info.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.informazioni{
    border:3px solid #A1A1A1;
    color: white;
    background-color: #424C57;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1001;
}